<div>
  <div class="app-header">
    <h1 class="text-black">{{ title }}</h1>
    <p class="text-black">A collection of SOAP API services</p>
  </div>

  <div class="app-content">
    <ul class="nav nav-tabs" id="apiTabs" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link" [class.active]="activeTab() === 'calculator'" id="calculator-tab" (click)="setActiveTab('calculator')" type="button" role="tab" aria-controls="calculator" [attr.aria-selected]="activeTab() === 'calculator'">Calculator</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" [class.active]="activeTab() === 'countries'" id="countries-tab" (click)="setActiveTab('countries')" type="button" role="tab" aria-controls="countries" [attr.aria-selected]="activeTab() === 'countries'">Countries</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" [class.active]="activeTab() === 'currencies'" id="currencies-tab" (click)="setActiveTab('currencies')" type="button" role="tab" aria-controls="currencies" [attr.aria-selected]="activeTab() === 'currencies'">Currencies</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" [class.active]="activeTab() === 'languages'" id="languages-tab" (click)="setActiveTab('languages')" type="button" role="tab" aria-controls="languages" [attr.aria-selected]="activeTab() === 'languages'">Languages</button>
      </li>
    </ul>

    <div class="tab-content" id="apiTabsContent">

      @if (activeTab() === 'calculator') {
        <div class="tab-pane fade show active" id="calculator" role="tabpanel">
          <app-calculator />
        </div>
      }

      @if (activeTab() === 'countries') {
        <div class="tab-pane fade show active" id="countries" role="tabpanel">
          <app-countries />
        </div>
      }

      @if (activeTab() === 'currencies') {
        <div class="tab-pane fade show active" id="currencies" role="tabpanel">
          <app-currencies />
        </div>
      }

      @if (activeTab() === 'languages') {
        <div class="tab-pane fade show active" id="languages" role="tabpanel">
          <app-languages />
        </div>
      }

    </div>

  </div>
</div>
